.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerclass{
  text-align: center;
  color: white;
}

.tableText{
  border:  azure double medium;
  margin: auto;
}

.tableText *{
  color : white;
}

.tableText input{
  color:black;
}

.tableText button{
  background-color: darkslategray;
}

.tableText td{
  width: 100px;

}

.listwrapper{
  text-align: center;
}

.treewrapper *{
  color:white;
  text-align: left;
}

.listwrapper thead *{
  font-weight: bolder;
  background-color: #203636;
  cursor: pointer;
}

.formwrapper select{
  background-color: darkslategray;
  width: 80px;
  height: 20px;
}


/*cards css*/

.column {
  float: left;
  width: 20%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.rowstyle{
  vertical-align: center;
}

.rowstyle *{
  box-sizing: border-bo
}

/* cards css ends */

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button5 {border-radius: 60%;}

.lastColumn{
  width: 20px !important;
  margin-top: 3%;
}

.whitetext{
  color: white;
}
