.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerclass{
  text-align: center;
  color: white;
}

.tableText{
  border:  azure double medium;
  margin: auto;
}

.tableText *{
  color : white;
}

.tableText input{
  color:black;
}

.tableText button{
  background-color: darkslategray;
}

.tableText td{
  width: 100px;

}

.listwrapper{
  text-align: center;
}

.treewrapper *{
  color:white;
  text-align: left;
}

.listwrapper thead *{
  font-weight: bolder;
  background-color: #203636;
  cursor: pointer;
}

.formwrapper select{
  background-color: darkslategray;
  width: 80px;
  height: 20px;
}
